@import "globals";
@import "mixin";

:root {
    --xyz: red;
}

.bg-svg {
  @include zero-position(fixed);
  @include zero-space;
  @include full-size();
  @include bg-gradient;
  background-color: transparent;
  z-index: 1;
}

.bg-svg {
  // circuit 'svg' tag is made by using react
   #bg-animation {
      @include full-size();
      @include zero-space;
      @include zero-position(absolute);
      z-index: 0;
  }

  // svg-logo 'svg' tag is made by using html and sass
  .svg-logo {
      @include full-size();
      @include center;
      @include logo-drop-shadow;
      z-index: 2;
  }
}

.bg-svg {
  #bg-animation {
      svg {
          @include full-size();
      }
  }
}

#bg-animation {
    .line0 {
        animation: 15s lineAni ease infinite ; 
    }
    .line1 {
        animation: 10s lineAni  ease-in infinite ;
    }
    .line2 {
        animation: 12.5s lineAni  ease-in-out infinite ; 
    }
    .line3 {
        animation: 7.5s lineAni  ease-out infinite ; 
    }
    .line4 {
        animation: 5s lineAni  linear infinite ;
    }
    .line5 {
        @include stroke($colorWhite, 1, 0.1, 20);
        animation: 2s lineAni1 -1s linear infinite ;
    }
    .line6 {
        @include stroke($colorWhite, 1, 0.1);
        animation: 2s lineAni2  linear infinite ;
    }
    .line7 {
        @include stroke($colorWhite, 1, 0.1);
        animation: 2s lineAni3 -3s linear infinite;
    }
    .line8 {
        opacity: 1;
        animation: 2s lineAni1 -1s linear infinite ;
    }
}


@keyframes lineAni {
    0% {
      stroke: $colorBlack;
      stroke-opacity: 0.8;
    }
    10% {
      stroke: $bgcolor1; 
      stroke-opacity: 0.4;
    }
    20% {
      stroke: $bgcolor2; 
      stroke-opacity: 0.8;
    }
    40% {
      stroke: $bgcolor4; 
      stroke-opacity: 0.6;
    }
    60% {
      stroke: $bgcolor3;
      stroke-opacity: 0.7;
    }
    80% {
      stroke: $color1;
      stroke-opacity: 0.2;
    }
    100% {
      stroke: $color2;
      stroke-opacity: 0.2;
    }
}

@keyframes lineAni1 {
    0% {
      stroke-dashoffset: 40;
    }
    100% {
      stroke-dashoffset: 0;
    }
}

@keyframes lineAni2 {
    0% {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      stroke: $color3; 
      opacity: 0.8;
    }
  
    50% {
      stroke-dasharray: 10;
      stroke-dashoffset: 20;
      stroke: $color4; 
      opacity: 1;
    }
  
    100% {
      stroke-dasharray: 20;
      stroke-dashoffset: 40;
      stroke: $color5; 
      opacity: 0.8;
    }
}

  
@keyframes lineAni3 {
    0% {
      stroke-dasharray: 20;
      stroke-dashoffset: none;  
      stroke: $color6;  
      
    }
    50% {
      stroke-dasharray: 10;
      stroke-dashoffset: 20;
      stroke: $color7; 
      
    }
    100% {
      stroke-dasharray: 0;
      stroke-dashoffset: 40;
      stroke: $colorWhite;
      
    }
}

.makeCircle {
    fill: none;
    opacity: 1;
    animation: makeCircle 0.7s forwards;
}

@keyframes makeCircle {
    to { 
        fill: $color0;  
       opacity: 1;
    }
}

.makePath {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: makePath 2s linear 0.7s forwards;
}
  
@keyframes makePath {
    to {
      stroke-dashoffset: 0;
    }
}

[class^="circle-ani-"] {
    visibility: hidden;
}

.circle-ani-1 {
    animation: circle-ani 2.5s linear 1.1s forwards;
}
  
.circle-ani-2 {
    animation: circle-ani 2.5s linear 1.15s forwards;
}
  
.circle-ani-3 {
    animation: circle-ani 2.5s linear 1.20s forwards;
}
  
.circle-ani-4 {
    animation: circle-ani 2.5s linear 1.25s forwards;
}
  
.circle-ani-5 {
    animation: circle-ani 2.5s linear 1.30s  forwards;
}
  
.circle-ani-6 {
    animation: circle-ani 2.5s linear 1.35s forwards;
}
  
.circle-ani-7 {
    animation: circle-ani 2.5s linear 1.40s forwards;
}
  
.circle-ani-8 {
    animation: circle-ani 2.5s linear 1.45s forwards;
}


@keyframes circle-ani {
    0%{
      stroke: $color0;
      fill: $color0;
      opacity: 1;
      stroke-opacity: 1;
    }
    18% {
      stroke: $color0;
      fill: none;
    }
    20% {
      stroke: none;
      fill: $color0;
    }
    35% {
      stroke: $color0;
      fill: $color0;
    }
    75% {
      stroke: none;
      fill: none;
    }
    85% {
      stroke: $color0;
      fill: $color0;
    }
    98% {
      stroke: none;
      fill: none;
    }
    100%{
      visibility: visible;
    }
}


.logo-path {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: logoPath 4s linear forwards;
}
  
@keyframes logoPath {
    0%{
      stroke: $color0;
    }
    18% {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
    }
    20% {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
      stroke: $color0;
    }
    35% {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
    }
    75% {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
    }
    85% {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
    }
    90% {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
    }
    98% {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
    }
    100% {
      stroke-dasharray: 0;
      stroke-dashoffset: 0;
    }
}
  
  
.zero  {
    fill: url(#zero);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: zero 4s linear forwards;
}
  
  
@keyframes zero {
    0% {
      stroke-dashoffset: 1000;
      stroke: $color0;
    }
    18% {
      stroke-dashoffset: 800;
      stroke: $color0;
    }
    20% {
      stroke-dashoffset: 0;
    }
    35% {
      stroke-dashoffset: 1000;
    }
    70% {
      stroke-dashoffset: 0;
    }
    85% {
      stroke-dashoffset: 0;
    }
    90% {
      stroke-dashoffset: 0;
    }
    92% {
      stroke-dashoffset: 1000;
    }
    98% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 0;
      stroke: none;
    }
}


.first  {
    --xyz: url(#first);
    fill: none;
    animation: logo 1s linear 2.5s forwards;
}
.second  {
    --xyz: url(#second);
    fill: none;
    animation: logo 1s linear 2.5s forwards;
}
.third  {
    --xyz: url(#third);
    fill: none;
    animation: logo 1s linear 2.5s forwards;
}
.fourth  {
    --xyz: url(#fourth);
    fill: none;
    animation: logo 1s linear 2.5s forwards;
}


@keyframes logo {
    0% {
      fill: var(--xyz);
    }
    18% {
      fill: var(--xyz);
    }
    20% {
      fill: none;
    }
    35% {
      fill: var(--xyz);
    }
    70% {
      fill: none;
    }
    85% {
      fill: var(--xyz);
    }
    90% {
      fill: none;
    }
    98% {
      fill: var(--xyz);
    }
    100% {
      fill: var(--xyz);
    }
}


[id^="logo-"], [id^="Zero-"] {  //look after this
    fill: none;
}


// --xyz is temp css variable has its global scope

.Zero-1-C {
    --xyz: #043b3b; 
    animation: tZero 1s linear 1s forwards;
}
.Zero-1-O {
    --xyz: #043b3b;
    animation: tZero 1s linear 1.1s forwards;
}
.Zero-1-D {
    --xyz: #043b3b;
    animation: tZero 1s linear 1.15s forwards;
}
.Zero-1-E {
    --xyz: #043b3b;
    animation: tZero 1s linear 1.2s forwards;
}
.Zero-1-R {
    --xyz: #043b3b;
    animation: tZero 1s linear 1.25s forwards;
}
.Zero-1-S {
    --xyz: #043b3b;
    animation: tZero 1s linear 1.3s forwards;
}
.Zero-2-L  {
    --xyz: #043b3b;
    animation: tZero 1s linear 1.35s forwards;
}
.Zero-2-O {
    --xyz: #043b3b;
    animation: tZero 1s linear 1.4s forwards;
}
.Zero-2-D {
    --xyz: #043b3b;
    animation: tZero 1s linear 1.45s forwards;
}
.Zero-2-G {
    --xyz: #043b3b;
    animation: tZero 1s linear 1.5s forwards;
}
.Zero-2-E {
    --xyz: #043b3b;
    animation: tZero 1s linear 1.55s forwards;
}
  
// logo- selector is used in react and zero- sectror is used in sass

// .logo-text:hover {
//   .logo-t-1-C {
//     --xyz: #aa3235;
//     animation: tLogo 2s linear 0.1s forwards;
// }
// .logo-t-1-O {
//     --xyz: #e37b01;
//     animation: tLogo 2s linear 0.15s forwards;
// }
// .logo-t-1-D {
//     --xyz: #e37b01;
//     animation: tLogo 2s linear 0.20s forwards;
// }
// .logo-t-1-E {
//     --xyz: #e37b01;
//     animation: tLogo 2s linear 0.25s forwards;
// }
// .logo-t-1-R {
//     --xyz: #e37b01;
//     animation: tLogo 2s linear 0.30s forwards;
// }
// .logo-t-1-S {
//     --xyz: #e37b01;
//     animation: tLogo 2s linear 0.35s forwards;
// }
// .logo-t-2-L  {
//     --xyz: #18a033;
//     animation: tLogo 2s linear 0.40s forwards;
// }
// .logo-t-2-O {
//     --xyz: #013a9e;
//     animation: tLogo 2s linear 0.45s forwards;
// }
// .logo-t-2-D {
//     --xyz: #013a9e;
//     animation: tLogo 2s linear 0.50s forwards;
// }
// .logo-t-2-G {
//     --xyz: #013a9e;
//     animation: tLogo 2s linear 0.55s forwards;
// }
// .logo-t-2-E {
//     --xyz: #013a9e;
//     animation: tLogo 2s linear 0.60s forwards;
// }
// }

.logo-t-1-C {
    --xyz: #aa3235;
    animation: tZero 2s linear 1.1s forwards;
}
.logo-t-1-O {
    --xyz: #e37b01;
    animation: tZero 2s linear 1.15s forwards;
}
.logo-t-1-D {
    --xyz: #e37b01;
    animation: tZero 2s linear 1.20s forwards;
}
.logo-t-1-E {
    --xyz: #e37b01;
    animation: tZero 2s linear 1.25s forwards;
}
.logo-t-1-R {
    --xyz: #e37b01;
    animation: tZero 2s linear 1.30s forwards;
}
.logo-t-1-S {
    --xyz: #e37b01;
    animation: tZero 2s linear 1.35s forwards;
}
.logo-t-2-L  {
    --xyz: #18a033;
    animation: tZero 2s linear 1.40s forwards;
}
.logo-t-2-O {
    --xyz: #013a9e;
    animation: tZero 2s linear 1.45s forwards;
}
.logo-t-2-D {
    --xyz: #013a9e;
    animation: tZero 2s linear 1.50s forwards;
}
.logo-t-2-G {
    --xyz: #013a9e;
    animation: tZero 2s linear 1.55s forwards;
}
.logo-t-2-E {
    --xyz: #013a9e;
    animation: tZero 2s linear 1.60s forwards;
}

  
@keyframes tZero {
    0% {
      fill: none;
    }
    18% {
      fill: none;
    }
    20% {
      fill: var(--xyz);
    }
    35% {
      fill: none;
    }
    70% {
      fill: var(--xyz);
    }
    85% {
      fill: var(--xyz);
    }
    90% {
      fill: var(--xyz);
    }
    92% {
      fill: none;
    }
    98% {
      fill: var(--xyz);
    }
    100% {
      fill: var(--xyz);
    }
}
  
  
  
@keyframes tLogo {
    0% {
      fill: none;
    }
    18% {
      fill: none;
    }
    20% {
      fill: var(--xyz);
    }
    35% {
      fill: none;
    }
    70% {
      fill: var(--xyz);
    }
    85% {
      fill: var(--xyz);
    }
    90% {
      fill: var(--xyz);
    }
    92% {
      fill: none;
    }
    98% {
      fill: var(--xyz);
    }
    100% {
      fill: var(--xyz);
    }
}


.logo-path-copy ,.makePathCopy , .makePathTopCopy, .makePathBootmCopy, .makePathLeftCopy, .makePathRightCopy {
    stroke-dasharray:  0, 1700, 20, 1700;
    stroke: $colorWhite;
    fill: none;
    z-index: 5;
}
  
.logo-path-copy  { 
    stroke-dashoffset: -200;
    stroke: $colorWhite;
    stroke-dasharray:  0, 100, 0.0001, 1700;
    animation: pathCopy 1.4s linear 3s infinite forwards;
}
  
.makePathCopy  { 
    stroke-dashoffset: 1800;
    animation: pathCopy 1.5s linear 4s infinite forwards;
}
  
.makePathTopCopy  { 
    stroke-dashoffset: 2000;
    animation: pathCopy 1.5s linear 4.0s infinite forwards;
}
  
.makePathBootmCopy  { 
    stroke-dashoffset: -2000;
    animation: pathCopy 1.5s linear 4.0s infinite forwards;
}
  
.makePathLeftCopy  { 
    stroke-dashoffset: 2000;
    animation: pathCopy 1.5s linear 4.0s infinite forwards;
}
.makePathRightCopy  { 
    stroke-dashoffset: 1000;
    stroke-dasharray:  0, 1000, 20, 1000;
    animation: pathCopy 1.5s linear 3.5s infinite forwards;
}
  
  
@keyframes pathCopy {
   to{
      stroke-dashoffset: 0;
      opacity: 1;
    }
}





#bubble {
  @include full-size;
  position: absolute;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  div { 
    position: absolute;
    transform: translate(-50%, -50%);
    display: inline-block;
    bottom: -50px;
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.2);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: animation 4s linear infinite;
  }
  div:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70%,-70%);
    background: radial-gradient(#fff, transparent);
    border-radius: 50%;
  }

  .html {
    background-image: url("../image/new/html.svg");
    background-size: 75% 75%;
    background-position: 8px 10px;
  }
  .css {
    background-image: url("../image/new/css.svg");
    background-size: 90% 90%;
    background-position: 5px 8px;
  }
  .js {
    background-image: url("../image/new/js.svg");
    background-size: 100% 100%;
    background-position: 0px -2px;
  }
  .node-js {
    background-image: url("../image/new/nodejs.svg");
  }
  .jqery {
    background-image: url("../image/new/jquery.svg");
    background-size: 85% 85%;
    background-position: 5px 5px;
  }
  .react {
    background-image: url("../image/new/react.svg");
  }
  .php {
    background-image: url("../image/new/php.svg");
    background-size: 98% 900%;
    background-position: 3px 18px;
  }
  .angular {
    background-image: url("../image/new/angular.svg");
    background-size: 95% 95%;
    background-position: 3px 3px;
  }
  .c {
    background-image: url("../image/new/c.svg");
  }
  .c-push {
    background-image: url("../image/new/cPlus.svg");
  }
  .c-hash {
    background-image: url("../image/new/cHash.svg");
  }
  .python {
    background-image: url("../image/new/python.svg");
    background-size: 300% 100%;
    background-position: 9px 8px;
  }
  .java {
    background-image: url("../image/new/java.svg");
    z-index: 20;
  }
  // .swift {
  //   background-image: url("../image/new/css.svg");
  // }
}

@keyframes animation {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      transform: translateY(-1200%);
      opacity: 0;
    }

}

