// background color 

$bgcolor1: #070811;
$bgcolor2: #00080e;
$bgcolor3: #01070d;
$bgcolor4: #070718;
$bgdarkcolor: #212121;

// color code used 

$colorBlack: #000;
$colorWhite: #fff;
$color0: #043b3b; //make change
$color1: #20b0b0;
$color2: #061131;
$color3: #197c43;
$color4: #09d2ec;
$color5: #175d5f;
$color6: #0ed4e3;
$color7: #20dbac;
$color8: #acacac;

// from wesite 

$color9: #0b0b10;
$color10: #1f2833;
$color11: #c5c6c7;
$color12: #66fcf1;
$color13: #45a29e;

// header color 

$color14: #0b0c10;

// circuit color in logo

$logoPathColor: #312d2e;
$logoCircleColor1: #2c648c;
$logoCircleColor2: #6cbfda;
$logoCircleColor3: #ffebee;


// logo text color

$logoTextColor1: #aa3235;
$logoTextColor2: #e37b01;
$logoTextColor3: #18a033;
$logoTextColor4: #013a9e;


// for mobile size width

$width-m: 100%;
$height-m: 100vh;

// for tablets size width

$width-t-1: 8.33%;
$width-t-2: 16.66%;
$width-t-3: 25%;
$width-t-4: 33.33%;
$width-t-5: 41.66%;
$width-t-6: 50%;
$width-t-7: 58.33%;
$width-t-8: 66.66%;
$width-t-9: 75%;
$width-t-10: 83.33%;
$width-t-11: 91.66%;
$width-t-12: 100%;

// for desktop size width

$width-1: 8.33%;
$width-2: 16.66%;
$width-3: 25%;
$width-4: 33.33%;
$width-5: 41.66%;
$width-6: 50%;
$width-7: 58.33%;
$width-8: 66.66%;
$width-9: 75%;
$width-10: 83.33%;
$width-11: 91.66%;
$width-12: 100%;

//temp var

$xyz: red;

// fixed size for header nav and menu item 

$nav-height: 75px;