@import "mixin";
@import "globals";
@import "animation";

:root {
    --xyz: 100%;
}

* {
    box-sizing: border-box;
}


body {
    @include zero-space;
    background-color: $bgdarkcolor;
    margin-bottom: 2000px; // this is only for scrolling testing 
}

#main {
    display: grid;
    grid-template-columns: auto; // 10vh for menu button and auto for logo and logo text 
    overflow-x: hidden;
    width: 100%;
}

#nav-header {
    .nav{
        @include full-size(100%, auto); 
        @include zero-position(relative); 
        @include logo-drop-shadow(10px);
        display: grid;
        grid-template-columns: $nav-height auto;
        
        background-color: $color14; //new color #009688
        z-index: 100;
        opacity: 0.9;
        overflow: hidden;
        transition: height 0.5s;

        .menu-btn {
            @include zero-position(relative);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: inherit;
            

            .menu-bar-1, .menu-bar-2, .menu-bar-3 {
                height: 4px;
                margin: 4px auto;
                width: 35px;
                background-color: $color12;
                border-radius: 6px;
                transition: 0.5s;
            }

            .menu-bar-2 {
                height: 2.5px;
            }
        }

        .menu-btn:hover .menu-bar-1, .menu-btn:hover .menu-bar-3 {
            width: 28px;
        }

        .nav-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: inherit;
            overflow: hidden;


            .logo-img {
                width: 100%;
                height: $nav-height;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;
                svg {
                    width: 300px;
                    height: 100px;

                    #Zero-text, #logo-text {
                        font-size: 22px !important;

                        tspan {
                            font-size: 21px !important;
                        }
                    }
                }
            }
        }

        
 
        .nav-item-icon, .nav-item, .nav-item-btn {
            @include full-size(100%, 90vh);
            @include zero-space;
            display: none;
            overflow: hidden;
            transition: 0.5s;
            position: relative;
            



            ul {
                @include list-reset;
                display: flex;
                flex-direction: column;
                height: 100%;
                position: relative;

                a, .nav-item-list {
                    @include anchor;
                    height: $nav-height;
                    line-height: $nav-height;
                    width: auto;
                    color: $colorWhite;
                    font-size: 20px; 
                    transition: 0.5s;
                }

                .social-icon:hover , .nav-item-list:hover {
                    color: $color12;
                    @include logo-drop-shadow(10px);
                    font-size: 21px;
                }
            }

            .nav-item-social {
                height: $nav-height;
                display: grid;
                grid-template-columns: auto auto auto auto;
                justify-content: center;
                align-content: center;
                position: absolute;
                bottom: 35px;

                .social-icon {
                    margin: 5px;
                    width: 50px;
                    height: 50px;
                    // border: 1px solid burlywood;
                    border-radius: 6px;
                    background-image: url("../image/social.svg");
                    background-size: 550% 550%;
                    background-repeat: no-repeat;
                }

                .icon-Facebook {
                    background-position: -8px -133px; // -12 -6 || -8 -133 is gray
                    // border: 1px solid orchid;
                }

                .icon-Facebook:hover {
                    background-position: -8px -68px; // -68 black
                }

                .icon-Facebook:focus {
                    background-position: -8px -6px; // -68 black
                }

                .icon-Instagram {
                    background-position: -63px -134px; // -12 -6 || -63 -134 is gray
                    // border: 1px solid orchid;
                }

                .icon-Instagram:hover {
                    background-position: -63px -69px; // -69 black
                    
                }

                .icon-Instagram:focus {
                    background-position: -63px -7px; // -69 black
                    
                }

                .icon-Twitter {
                    background-position: -128px -131px; // -12 -6 || -128 -131 is gray
                    // border: 1px solid orchid;
                }

                .icon-Twitter:hover {
                    background-position: -128px -67px; // -67 black
                }

                .icon-Twitter:focus {
                    background-position: -128px -7px; // -67 black
                }

                .icon-Linkedin {
                    background-position: -185px -131px; // -12 -6 || -185 -131 is gray
                    // border: 1px solid orchid;
                }

                .icon-Linkedin:hover {
                    background-position: -185px -67px; // -67 black
                }

                .icon-Linkedin:focus {
                    background-position: -185px -7px; // -67 black
                }
            }
            .copy-right {
                color: $colorWhite;
                text-align: center;
                margin: 8px;
                position: absolute;
                bottom: 0px;
            }
        }

        .nav-item-icon {
            background-color: $color14;
        }

        .nav-item {
            a {
                text-align: left !important;
            }
        }

        .nav-item-btn {
            @include full-size(100%, $nav-height);
            overflow: hidden;
            display: block;

            ul {
                flex-direction: row;
                justify-content: flex-end;
                height: inherit;
                overflow: hidden;

                a {
                    filter: none !important;
                }

                a::after {
                    bottom: 20px;
                    content: "";
                    display: block;
                    position: relative;
                    width: 0;
                    -webkit-transition: width 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                }
                a:hover:after {
                    content: "";
                    border: 1px solid $colorWhite;
                    width: 100%;
                    -webkit-transition: width 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                }
            }
        }
    }
}

.show-nav-item {
    height: 100% !important;

    .menu-bar-1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 11px);
    }
    .menu-bar-2 {
        opacity: 0;
    }
    .menu-bar-3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-4px, -7px);
    }

    .nav-item-icon , .nav-item {
        display: block !important;
        @include bg-gradient;
    }

    .nav-item-icon {
        left: -100%;
        animation: showMenu 0.5s linear forwards;
    }

    .nav-item {
        left: 100%;
        animation: showMenu 0.5s linear forwards;
    }

}


@keyframes showMenu {
    to {
        left: 0;
        border-right: 1px solid $colorBlack;
    }
}


.Header-section {
    @include full-size(100%, 90vh);
    position: relative;
    color: $colorWhite;
    z-index: 2;
    padding: 20px 55px;

    .slide-container {
        position: relative;
        width: 100%;
        

        .slides {
            position: relative;
            height: 70vh;
            padding: 10px 10px 0 10px;
            background-color: $color14;
            // @include logo-drop-shadow(6px);
            opacity: 0.9;
            border-radius: 50% / 14px;
            border: 0.9px solid seagreen;
            box-shadow: inset 3px 3px 6px rgba(0,0,0,0.05),
                        inset -3px -3px 6px rgba(255,255,255,0.5),
                              3px 3px 6px rgba(0,0,0,0.05),
                              -3px -3px 6px rgba(255,255,255,0.5);
            
            .slide-item {
                @include logo-drop-shadow(1px);
                text-align: center;

                .card-img{
                    margin-top: 8px;
                }

                .card-text {
                    padding: 0px 10px;
                    font-family: 'poppins', sans-serif;
                    text-align: center;
                    text-overflow: ellipsis;
                    margin-top: -12px;

                    // h4 {
                    //     text-align: center;
                    //     font-size: 20px;
                    // }
                }
                a {
                    padding: 8px 20px;
                    display: inline-block;
                    background-color: seagreen;
                    margin-top: 15px;
                    border-radius: 20px;
                    color: $colorWhite;
                    // background-color: $color14;
                    text-decoration: none;
                    font-weight: 400;
                }
            }
        }
    }

    .dot-container {
        width: calc(100% - 2*55px);
        position: absolute;
        bottom: 12vh;
        text-align: center;
        

    .dot {
        @include logo-drop-shadow(2px);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: inline-block;
        background-color: $colorWhite;
        opacity: 0.9;
        border: 0.4px solid #222;
        margin-right: 3px;
    }

    .dot:after {
        content: '';
        position: absolute;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
        transform: scale(0.25) translate(20% 20%);
        background: radial-gradient(#000, transparent);
        border-radius: 50%;
        }
    }

}

@media only screen and (min-width: 600px) {
    .bg-svg{
        .svg-logo {  
            @include full-size(400px, 400px);
            @include center;
            @include center-absolute();
        }
    }
}

@media only screen and (min-width: 768px) {
    .bg-svg{
        .svg-logo {  
            @include center-absolute(50%, 50%, -50%, -60%);
        }
    }
    #nav-header {
        .nav{ 
            overflow: visible;
            position: fixed;
            height: 75px;

            .nav-item-icon {
                display: block;
                left: 0;
                z-index: 2;
            }

            .nav-item {
                display: none;
                left: -100%;
                width: 80%;
                z-index: 1;
            }
        }
    }
}


@media only screen and (min-width: 1024px) { 
    #nav-header {
        .nav {
            grid-template-columns: $nav-height 280px auto;
            height: 75px;

            .nav-item {
                width: 120%;
            }

            .nav-item-icon {
                overflow: visible;
                ul {
                    a {
                        z-index: 2;
                    }
                    a::after {
                        content: "";
                        display: inline-block;
                        position: relative;
                        left: -1000%;
                        bottom: 100%;
                        width: 150px;
                        height: 60px;
                        background-color: $color14;
                        margin-top:  25px;
                        border-radius: 2em 1em 4em / 0.5em 3em;
                        transition: left ease 0.5s;
                        z-index: 1;
                        font-family: cursive;
                    }
                    .icon-home::after {
                        content: "HOME";
                    }
                    .icon-services::after {
                        content: "SERVICES";
                    }
                    .icon-contact::after {
                        content: "CONTACT";
                    }
                    .icon-about::after {
                        content: "ABOUT";
                    }
                    .icon-profile::after {
                        content: "PROFILE";
                    }
                    a:hover:after {
                        left: 200%;
                    }
                }
            }
        }
    }
}
